# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
.turbo

# Environment & Secrets
.env
.env.*
!.env.example

# IDE & Editor
.vscode
.idea
*.sublime-*
*.code-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
Dockerfile
docker-compose*
.dockerignore

# Production Artifacts
hk-image-prod/
nginx/

# Temp
.temp
.tmp
.cache
