services:
  db-dev:
    image: postgres:16-alpine
    container_name: hk-app-db-dev
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - hk_app_db_dev_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s

volumes:
  hk_app_db_dev_data:
